* {
    box-sizing: border-box;
    font-family: '標楷體';
}

.top {
    width: 1024px;
    height: 65px;
    /* background-color: indigo; */
    margin: auto;
    border: 1px solid black;
    padding-top: 2px;
    }

.top img {
    width: 994px;
    height: 60px;
    padding-left: 12px;
}

.middle {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lawngreen; */
    margin: auto;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.left {
    width: 215px;
    height: 100%;
    /* background-color: dimgrey; */
    border-right: 1px solid black;
}

.menu {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: floralwhite; */
    border-bottom: 1px solid black;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100px;
    height: 30px;
    color: #FF00FF;
    border-bottom: 1px solid black;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}

.club {
    width: 170px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    padding-top: 4.5px;
    background-image: url(../images/menu1.png);
}

.club:hover {
    background-image: url(../images/menu2.png);
}

.update {
    width: 100%;
    height: 25px;
    /* background-color: deepskyblue; */
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding-top: 2.2px;
}

.right  {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: goldenrod; */
}

.marquee {
    width: 100%;
    height: 29px;
    /* background-color: darkolivegreen; */
    border-bottom: 1px solid black;
}

marquee {
    font-size: 24px;
    color: #0000FF;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: greenyellow; */
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: mediumvioletred; */
    margin: auto;
    border: 1px solid black;
    color: #000000;
    text-align: center;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 100%;
}