* {
    box-sizing: border-box;
}

.top {
    width: 1024px;
    height: 65px;
    /* background-color: navy; */
    margin: auto;
    border: 1px solid black;
    padding-left: 12px;
}

.top img {
    width: 994px;
    height: 60px;
    margin: auto;
    padding-top: 5px;
}

.middle {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightseagreen; */
    display: flex;
    margin: auto;
}

.left {
    width: 215px;
    height: 100%;
    /* background-color: mediumslateblue; */
    border-left: 1px solid black;
}

.menu {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: dimgrey; */
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100px;
    height: 30px;
    border-bottom: 1px solid black;
    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FF00FF;
}

.club {
    width: 80%;
    height: 30px;
    color: #000000;
    font-size: 16px;
    font-family: '標楷體';
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    padding-top: 4px;
    background-image: url(../images/menu1.png);
}

.club:hover {
    background-image: url(../images/menu2.png);
}

.update {
    width: 100%;
    height: 25px;
    /* background-color: lightpink; */
    /* border-left: 1px solid black; */
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
}

.right {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: goldenrod; */
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.marquee {
    width: 100%;
    height: 29px;
    /* background-color: fuchsia; */
}

marquee {
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: indigo; */
    border-top: 1px solid black;
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: hotpink; */
    margin: auto;
    border: 1px solid black;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 100%;
}