* {
    box-sizing: border-box;
}

.top {
    width: 1000px;
    height: 65px;
    /* background-color: darkorange; */
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    padding: 2.5px;
}

.container {
    width: 1000px;
    height: calc(768px - 65px - 20px);
    /* background-color: darkviolet; */
    margin: auto;
    display: flex;
    /* border: 1px solid black; */
}

.left {
    width: 215px;
    height: 100%;
    /* background-color: darkolivegreen; */
    /* margin: auto; */
    border: 1px solid black;
    border-top: 0px;
    /* border-right: 0px; */
    border-bottom: 0px;
}

.menu {
    width: 215px;
    height: calc(100% - 25px);
    /* background-color: darkred; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-family: '標楷體';
    color: #FF00FF;
    text-align: center;
    border-bottom: 1px solid black;
}

.club {
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    margin-top: 10px;
    background-image: url(../images/menu1.png);
    border-radius: 5px;
    padding: 6.5px;
}

.club:hover {
    background-image: url(../images/menu2.png);
    border-radius: 5px;
}

.update {
    font-family: '標楷體';
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 3px;
}

.right {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: burlywood; */
    /* margin: auto; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.marquee {
    width: 100%;
    height: 29px;
    /* background-color: deepskyblue; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

marquee {
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    border-right: 1px solid black;
}

.footer {
    width: 1000px;
    height: 20px;
    /* background-color: dodgerblue; */
    margin: auto;
    border: 1px solid black;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 100%;
}