* {
    box-sizing: border-box;    
}

div {
    border: 1px solid black;
}

.top {
    width: 1024px;
    height: 65px;
    /* background-color: darkturquoise; */
    margin: auto;
    border-bottom: 0px;
}

.top img {
    width: 994px;
    height: 60px;
}

.middle {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: blueviolet; */
    margin: auto;
    display: flex;
    border: 0px;
}

.left {
    width: 215px;
    height: 100%;
    /* background-color: honeydew; */
    display: flex;
    flex-direction: column;
    border: 0px;
}

.menu {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: indianred; */
    border-bottom: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '標楷體';
    font-weight: 500;
    text-align: center;
}

.title {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 24px;
    color: #FF00FF;
}

.club {
    width: 200px;
    height: 35px;
    border: 0px;
    font-size: 16px;
    color: #000000;
    /* margin: auto; */
    margin-top: 13px;
    background-image: url(../images/menu1.png);
    border-radius: 5px;
    padding: 7px
}

.club:hover {
    background-image: url(../images/menu2.png);
}

.update {
    width: 100%;
    height: 25px;
    /* background-color: green; */
    border-right: 0px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 2px;
}

.right {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: lawngreen; */
    border: 0px;
}

.marquee {
    width: 100%;
    height: 29px;
    /* background-color: lightslategray; */
    border-bottom: 0px;
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: navy; */
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: goldenrod; */
    margin: auto;
    border-top: 0px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 100%;
}