* {
    box-sizing: border-box;
}

.top {
    width: 1024px;
    height: 65px;
    /* background-color: green; */
    margin: auto;
    border: 1px solid black;
}

.middle {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: mediumvioletred; */
    margin: auto;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.left {
    width: 215px;
    height: 100%;
    /* background-color: darkslateblue; */
    border-right: 1px solid black;
}

.menu {
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: lightblue; */
    border-bottom: 1px solid black;
}

.update {
    width: 100%;
    height: 25px;
    /* background-color: lightsalmon; */
}

.right {
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: purple; */
}

.marquee {
    width: 100%;
    height: 29px;
    /* background-color: fuchsia; */
    border-bottom: 1px solid black;
}

.content {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: mediumturquoise; */
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: goldenrod; */
    margin: auto;
    border: 1px solid black;
}